@font-face {
    font-family: yese;
    src: url(../../fonts/YesevaOne-Regular.ttf);
  }
  @font-face {
    font-family: Raleway;
    src: url(../../fonts/static/Raleway-Medium.ttf);
  }
.dis-menu{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.discover-txt{
    text-align: center;
    margin-bottom: 100px;
}
.dish1{
    font-size: 50px;
    font-family: 'yese';
}